
body{
font-family: 'Roboto', sans-serif;
margin: 0%;
}

.mainContainer{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
}

.topContainer{
    background-color: #0f1111;
    color: white;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    justify-content: space-between;
    align-items: center;
    
}

.topContainerBt{
color: white;
text-decoration: none;
}

.topContainerBt img{
    width: 6rem;
    height: 3rem;
}









/*Middle Container*/ 
.middleContainer{
    background-color: #232F3E;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    justify-content: space-evenly;
    
}

.middleContainer a{
    color: white;
    text-decoration: none;
    font-size: 1rem;
    padding: .5%;
    border: 2%;
}

.middleContainer a:hover{
    border-color: white;
}

.hamburgerMenu{
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: 20%;
}
.hamburger-menu {
    width: 30px;
    height: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.hamburger-menu .line {
    height: 3px;
    background-color: white;
    border-radius: 2px;

}


/*Bottom Contianer*/
.bottomContainer{
    background-color: #E3E6E6;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: auto;
}


.firstSec, .secondSec{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-basis: 80%;
    margin-top: 5%;
}

.firstSec>div, .secondSec>div {
    display: grid;
    gap: 10px;
    width: 22%;
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.firstSec h1, .secondSec h1{
    margin: 0;
    font-size: 1.5em;
}

.firstSec img, .secondSec img{
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

.firstSec a, .secondSec a {
    text-decoration: none;
    color: #0b3866;
}


.signIn{
    width: 50%;
    height: auto;
}

.signIn button{
    background-color: rgb(243, 239, 28);
    border-radius: 10%;
    padding:.5rem 6.3rem;
} 

/*Third Section/ Fourth Section*/
.thirdSec, .fourthSec{
    display: flex;
    flex-direction: column;
}

.outdoorImgs, .computerImgs{
    display: flex;
    flex-direction: row;
}


/*DeepBottomTop*/

.deepBtTop{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.deepBtTop2{
border: 2px solid rgb(78, 75, 75);
    /* 2px width, solid style, gray color */
    padding: 2rem;
}